body{

    background-color: rgb(197, 195, 195)
    
}


.rodape{
    padding: 5%;
    gap: 20px;
}
 
.form{
    display: grid;
    background: white  
    
}

.card1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 50px;
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center; 
    text-align: center;
}

.card{
    display: grid;
    background-color: rgb(255, 255, 255)
}

.col-12{
    color: black
    ;
}

